<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi!</h1>
    <p>
      You are invited to the <%= @list.title %> list.<br/>
      You can <a href=<%= @url %>> join our app </a> to see it.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
